.editor {
  margin-bottom: 10px;
  position: relative;
}

.editor__status-bar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 5px 10px 5px 10px;
  font-size: 14px;
  color: grey;
}

.editor__counter {
  cursor: help;
  padding-right: 7px;
  margin-right: 7px;
  border-right: 1px solid #dddddd;

  &:last-child {
    padding-right: 0;
    margin-right: 0;
    border-right: none;
  }
}

.editor__message {
  color: #5f9ea0;
}

.editor__textarea {
  width: 100%;
  min-height: 250px;
  padding: 35px 10px 10px 10px;
  box-sizing: border-box;
  border: 1px solid lightgrey;
  display: block;
  border-radius: 4px;
  color: #111111;

  &:focus {
    outline: none;
  }
}
